<footer>
        <ul class="footer-links">
            <li><a href="/exemples">Exemples de chansons</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#contact">À propos de Nottalys</a></li>
            <li><a href="#contact">Contactez-nous</a></li>
        </ul>
        <div class="footer-bottom">
            <div class="footer-left">
                <img src="/media/images/logo-icon-nottalys.svg" alt="Nottalys logo" width="50" height="50">
                <span class="footer-copyright">© Nottalys 2026</span>
            </div>
            <div class="footer-right">
                All Rights Reserved
            </div>
        </div>

    </footer>

<script src="/script/nottalys.js"></script>
